body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    background-image: url('/images/worldmap.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
}



.container {
    max-width: 600px;
    margin: 30px auto;
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); 
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

#countryInfo img {
    display: block; 
    margin: auto; 
    width: auto; 
    height: auto; 
    margin-top: 10px;
}


@keyframes fall {
    0% { top: -600px; }
    100% { top: 100%; }
    
}

.flag {
    position: absolute;
    animation-name: fall;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}